<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymykset</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tässä on kaikki kysymykset</h1> 
        <a th:href="${'/kysymykset'}">Kysymykset</a>

        <ul>
            <li th:each="kysymys: ${kysymykset}">
                <h2><span th:text="${kysymys.teksti}">kysymyksen teksti</span></h2>
                <ol>
                    <li th:each="vastaus: ${kysymys.vastaukset}">
                        <p><span th:text="${vastaus.teksti}">vastauksen teksti</span></p>
                    </li>
                </ol>
            </li>
        </ul>
    </body>
</html>