<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Uusi vastaus</title>
        <meta charset="utf-8" />
    </head>

    <body>
        
        <h1>Luo uusi vastaus</h1> 
        
        <form method="POST" th:action="@{~/uusi_vastaus/{id}(id=${id})}">
            Vastausteksti:<br/>
            <input type="text" name="teksti"/><br/>
            <input type="checkbox" name="oikein"/> Onko oikein?<br/>
            <input type="submit" value="Lisää vastaus"/>
        </form>

    </body>
</html>